h1, h2, h3 {
  font-family: monospace;
}

.header a {
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.header span {
  padding: 10px;
}

.active {
  background-color: #ddd;
}

.thumbnail {
  display: inline-block;
}

.fa-arrows-h {
  cursor: pointer;
  margin-left: -15px;
  color: #00ff55;
}

.fa-check {
  color: green;
  cursor: pointer;
}

.fa-times {
  cursor: pointer;
  color: red;
}

.thumbnail .fa-times {
  margin-left: -15px;
}

.profile-form {
  display: inline-block;
}

.requests {
  margin: 10px;
}
